$color-green: #84fab0;
$color-pink: #e5b2ca;
$color-purple: #7028e4;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #333333;
$color-dark-grey: #222222;

$alpha-90: 0.9;
$alpha-80: 0.8;
$alpha-64: 0.64;
$alpha-48: 0.48;
$alpha-40: 0.4;
$alpha-30: 0.3;

$color-white-80: rgba($color-white, $alpha-80);
$color-white-64: rgba($color-white, $alpha-64);
$color-white-48: rgba($color-white, $alpha-48);
$color-green-80: rgba($color-green, $alpha-80);
$color-purple-40: rgba($color-purple, $alpha-40);
$color-black-30: rgba($color-black, $alpha-30);
$color-dark-grey-90: rgba($color-dark-grey, $alpha-90);

:root {
	--color-primary-green: #{$color-green};
	--color-primary-pink: #{$color-pink};
	--color-primary-purple: #{$color-purple};
	--color-primary-black: #{$color-black};
	--color-primary-white: #{$color-white};
	--color-primary-grey: #{$color-grey};
	--color-primary-dark-grey: #{$color-dark-grey};
	--color-secondary-white-80: #{$color-white-80};
	--color-secondary-white-64: #{$color-white-64};
	--color-secondary-white-48: #{$color-white-48};
	--color-secondary-green-80: #{$color-green-80};
	--color-secondary-purple-40: #{$color-purple-40};
	--color-secondary-black-30: #{$color-black-30};
	--color-secondary-dark-grey-90: #{$color-dark-grey-90};
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: 0;
}

html {
	font-size: 10px;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: 1.6rem;

	color: var(--color-primary-white);
	background-color: var(--color-primary-grey);
	min-height: 100vh;
	position: relative;

	&.sidenav-open {
		&::after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 1;
			background-color: transparent;
		}
	}
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

img {
	display: block;
	max-width: 100%;
}

.hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.body-inner {
	display: grid;
	grid-template-columns: 12.5vw 1fr 12.5vw;
	grid-template-areas:
		"mainHeader mainHeader mainHeader"
		"socials    mainContent    .  "
		"mainFooter mainFooter mainFooter";
}

.main-header {
	display: grid;
	grid-template-columns: 12.5vw 1fr 12.5vw;
	grid-template-areas: ". inner .";
	grid-area: mainHeader;

	background-color: transparent;

	&-inner {
		padding: 2.08333vw 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.main-footer {
	display: grid;
	grid-template-columns: 12.5vw 1fr 12.5vw;
	grid-template-areas: ". inner .";

	grid-area: mainFooter;

	background-color: var(--color-primary-dark-grey);

	&-inner {
		padding: 1.25vw 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

main {
	grid-area: mainContent;

	min-height: 100vh;
	padding: 4rem 0 10rem;
}

.inner {
	margin: auto;
	grid-area: inner;
	width: 100%;
}

.logo-image {
	height: 4.6875vw;

	.main-footer & {
		height: 2.5vw;
	}
}

.search {
	cursor: pointer;
	color: var(--color-primary-white);
	transition: all 0.3s;

	&:hover {
		color: var(--color-secondary-white-48);
	}

	svg {
		height: 1.66666vw;
	}
}

.hamburger {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 38px;
	height: 32px;

	cursor: pointer;
	transition: all 0.3s;

	&:hover .hamburger-bar {
		background-color: var(--color-secondary-white-48);
	}

	body.sidenav-open & {
		opacity: 0;
		pointer-events: none;
	}

	&-bar {
		width: 100%;
		height: 4px;

		border-radius: 1px;
		background-color: var(--color-primary-white);
		transition: all 0.3s;
	}
}

.article {
	&-list {
		display: grid;
		gap: 2rem;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(4, 1fr);
		grid-template-areas:
			"item1 item1 item2"
			"item1 item1 item2"
			"item3 item5 item5"
			"item4 item5 item5";

		& > div {
			&:nth-child(1) {
				grid-area: item1;
			}
			&:nth-child(2) {
				grid-area: item2;
			}
			&:nth-child(3) {
				grid-area: item3;
			}
			&:nth-child(4) {
				grid-area: item4;
			}
			&:nth-child(5) {
				grid-area: item5;
			}
		}
	}

	&-item {
		position: relative;
		min-height: 28rem;
		overflow: hidden;

		&:hover {
			& .article-image {
				transform: scale(1.1);
			}

			& .article-info {
				text-decoration: underline;
			}
		}
	}

	&-category {
		position: absolute;
		top: 2.5vw;
		left: 3.33333vw;
		padding: 0.3125vw 1.04166vw;

		text-transform: uppercase;
		font-size: 0.72916vw;
		font-weight: 800;
		line-height: 1.09375vw;
		letter-spacing: 0.03645vw;

		color: var(--color-primary-black);
		background-color: var(--color-primary-white);

		&--travel {
			color: var(--color-primary-black);
			background-color: var(--color-primary-green);
		}

		&--tech {
			color: var(--color-primary-white);
			background-color: var(--color-primary-purple);
		}

		.article-item--small & {
			top: 1.25vw;
			left: 2.08333vw;
		}
	}

	&-image {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		right: 0;
		object-fit: cover;
		object-position: center;
		transition: transform 0.3s ease;
	}

	&-info {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 2.70833vw 3.33333vw 4.16666vw;

		font-size: 0.83333vw;
		font-weight: 500;
		line-height: 1.30208vw;
		letter-spacing: 0.04166vw;

		color: var(--color-secondary-white-64);

		background: transparent linear-gradient(180deg, transparent 0%, var(--color-primary-black) 100%) 0% 0% no-repeat;

		.article-item--small & {
			padding: 1.5625vw 2.08333vw 2.08333vw;
			font-size: 0.72916vw;
			line-height: 1.09375vw;
			letter-spacing: 0.03645vw;
		}
	}

	&-title {
		max-width: 46rem;

		font-size: 1.45833vw;
		font-weight: 500;
		line-height: 2.1875vw;
		letter-spacing: 0.07291vw;

		color: var(--color-primary-white);

		.article-item--small & {
			font-size: 1.04166vw;
			line-height: 1.5625vw;
			letter-spacing: 0.05208vw;
		}
	}
}

.socials {
	grid-area: socials;
	padding-top: 4rem;

	&-list {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		&-wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			position: sticky;
			top: 2rem;
		}
	}

	&-item {
		display: flex;
		align-items: center;
		justify-content: center;

		color: var(--color-secondary-white-64);
		padding: 1.2rem;
		transition: all 0.3s;

		&:hover {
			color: var(--color-primary-green);
		}

		svg {
			height: 1.04166vw;
		}
	}
}

.banner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background: transparent linear-gradient(155deg, var(--color-primary-pink) 0%, var(--color-primary-purple) 100%);
	padding: 8rem 7rem;

	text-align: center;

	&-image {
		svg {
			height: 28rem;
			max-width: 100%;

			.fa-primary {
				color: var(--color-primary-purple);
			}
			.fa-secondary {
				color: var(--color-secondary-purple-40);
			}
		}
	}

	&-title {
		h3 {
			font-size: 1.25vw;
			line-height: 1.82291vw;
			font-weight: 800;
		}
	}
}

.sidenav {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	position: fixed;
	width: 25rem;
	max-width: calc(100vw - 2rem);
	left: 0;
	top: 0;
	bottom: 0;
	transform: translateX(-100%);
	z-index: 2;
	padding: 3rem;

	background-color: var(--color-secondary-dark-grey-90);
	transition: transform 0.5s;

	body.sidenav-open & {
		transform: translateX(0);
	}

	&-logo {
		&-image {
			height: 4rem;
		}
	}

	nav {
		margin-top: 2rem;

		ul {
			list-style-type: none;
			text-align: center;

			li {
				margin: 1rem 0;

				a {
					padding: 0.5rem 1rem;
					text-transform: uppercase;
					transition: color 0.3s;

					&:hover {
						color: var(--color-primary-green);
					}
				}
			}
		}
	}

	&-close {
		align-self: flex-end;
		margin-bottom: 3rem;

		&-btn {
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			color: var(--color-primary-white);

			font-size: 3rem;
			line-height: 3rem;
			padding: 1rem;
			transition: color 0.3s;

			&:hover {
				color: var(--color-secondary-white-48);
			}
		}
	}
}
